<div class="container">
    <a href="/home" class="a"><button class="btn">Home</button></a>
    <h2>Add Bill</h2>    
  
    <div class="content-block dx-card responsive-paddings" style="padding: 2rem;">
        <dx-form id="form" [(formData)]="formBills" labelLocation="top" [colCount]="2">
          <dxi-item dataField="billDate"></dxi-item>
          <dxi-item dataField="idCustomer" editorType="dxSelectBox" [editorOptions]="{
              dataSource:listCustomers, valueExpr: 'idCustomer', displayExpr:'idCustomer' 
          }"></dxi-item>
        </dx-form>
    </div>
  
    <div class="dx-field-value w-100" style="padding: 1rem;">
      <dx-button icon="fa-solid fa-circle-plus" text="Add bill" stylingMode="contained" type="success"
          (onClick)="addBillDetail()">
      </dx-button>
    </div>    
  
    <h2>Add bill details</h2>
    <div class="content-block dx-card responsive-paddings" style="padding: 2rem;">
      <dx-form id="form" [(formData)]="formBillDetail" labelLocation="top" [colCount]="2">
          <dxi-item dataField="idProduct" editorType="dxSelectBox" [editorOptions]="{
              dataSource:listProducts, valueExpr: 'idProduct', displayExpr:'name',
              disabled: idBill === 0            
          }"></dxi-item>
          <dxi-item dataField="quantity" editorType="dxNumberBox" [editorOptions]="{disabled: idBill=== 0}"></dxi-item>
      </dx-form>
    </div>
  
    <div class="dx-field-value" style="padding: 1rem;">
        <dx-button icon="fa-solid fa-circle-plus" text="Add bill detail" stylingMode="contained" type="success"
            (onClick)="addBillDetail()" [disabled]="idBill=== 0">
        </dx-button>      
    </div>        
  
    <div class="container_grid p-0">
        <h2>Bill details</h2>
        <dx-data-grid id="gridContainer" [dataSource]="listBills" [allowColumnReordering]="true"
            [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true">
            <dxo-paging [pageSize]="4"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
  
            <dxi-column dataField="nameProduct"></dxi-column>
            <dxi-column dataField="price" caption="Price"></dxi-column>
            <dxi-column dataField="quantity"></dxi-column>
  
        </dx-data-grid>
    </div>
  
    <h2 style="margin-top: 10px;">Total: <b>{{getSumAllProductsPrices()}}</b></h2>
  
  
    
  </div>
  
