<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="dx-fieldset">
  <h2> <b>Billing Manage System BMS</b> </h2>
    <div class="fields-container">
      <div class="dx-field">          
        <div class="dx-field-value">
          <button class="btn"                                 
          ><a href="/customers"><img src="../../../assets/customer-icon.png" ></a></button>
        </div>
      </div>

      <div class="dx-field">        
        <div class="dx-field-value">
          <button class="btn"            
            text="Products"
          ><a href="/products"><img src="../../../assets/product-icon.png"></a></button>
          
        </div>
      </div>

      <div class="dx-field">        
        <div class="dx-field-value">
          <button class="btn"            
            text="Bills"
          ><a href="/bills"><img src="../../../assets/bill-icon.png"></a></button>
        </div>
      </div>     
    </div>
  Copyright © 2022 Victor Barrera Ortiz.  
  <a href="https://www.linkedin.com/in/victor-barrera-ortiz-ba8707174/">LinkedIn</a>
</div>
